// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_question a {
  text-align: left;
  font-size: 19px;
  text-decoration: none;
  color: blue;
}
.question {
  font-size: 20px;
}

.answer {
  font-size: 20px;
}
